In [6]:
import pandas as pd 
import numpy as np

In [7]:
df = pd.read_csv("C:\\Users\\79371\\Python_course\\kc_house_data.csv", encoding="latin-1")
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [8]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

#### Имя поля------------------------------Описание поля
#### date--------------------------------------Дата продажи
#### рriсе-------------------------------------Окончательная сумма транзакции
#### bedrooms------------------------------Количество спален
#### bathrooms-----------------------------Количество санузлов
#### sqft_living-----------------------------Площадь жилых помещений (в квадратных футах)
#### sqft lot----------------------------------Площадь земельного участка (в квадратных футах)
#### floors------------------------------------Количество этажей
#### waterfront------------------------------Стоит ли дом на набережной (1 : да, О: нет)
#### view--------------------------------------Категорийная переменная вида из дома
#### condition-------------------------------Категорийная переменная состояния дома
#### grade------------------------------------Общий рейтинг дома по шкале оценок округа Кинг
#### sqft_above----------------------------Площадь дома исключая подвал (в квадратных футах)
#### sqft_basement-----------------------Площадь подвала (в квадратных футах)
#### yr_built---------------------------------Год постройки дома
#### yr_renovated-------------------------Год проведения последнего капремонта (если был)
#### zipcode---------------------------------Почтовый индекс дома
#### lat----------------------------------------Широта дома
#### long-------------------------------------Долгота дома
#### sqft_living15-------------------------Размер площади жилых помещений в 2015 году (в квадратных футах)

In [9]:
df[['price', 'sqft_lot']]

          price  sqft_lot
0      221900.0      5650
1      538000.0      7242
2      180000.0     10000
3      604000.0      5000
4      510000.0      8080
...         ...       ...
21608  360000.0      1131
21609  400000.0      5813
21610  402101.0      1350
21611  400000.0      2388
21612  325000.0      1076

[21613 rows x 2 columns]

#### 1.1 Создать новый признак price_per_sq_lot, который будет содержать среднюю стоимость за один кв. метр общей площади

In [10]:
df['sqft_lot'] = pd.to_numeric(df['sqft_lot'], errors='coerce') # Преобразовать данные в столбцах в числовые
df['price'] = pd.to_numeric(df['price'], errors='coerce')
df['price_per_sq_lot'] = df['price'] / df['sqft_lot']
print('Средняя цена sqft_lot :\n', df['price_per_sq_lot'])

Средняя цена sqft_lot :
 0         39.274336
1         74.288870
2         18.000000
3        120.800000
4         63.118812
            ...
21608    318.302387
21609     68.811285
21610    297.852593
21611    167.504188
21612    302.044610
Name: price_per_sq_lot, Length: 21613, dtype: float64

In [11]:
df['sqft_lot'] = pd.to_numeric(df['sqft_lot'], errors='coerce')
df['price'] = pd.to_numeric(df['price'], errors='coerce')
df['price_per_sq_lot'] = df['price'] / df['sqft_lot']
print('Средняя цена первых десяти домов:\n', df['price_per_sq_lot'].head(10))

Средняя цена первых десяти домов:
 0     39.274336
1     74.288870
2     18.000000
3    120.800000
4     63.118812
5     12.018052
6     37.762135
7     30.053548
8     30.722892
9     49.237805
Name: price_per_sq_lot, dtype: float64

#### 1.4 Удалите признаки date, zipcode, lat, long

In [12]:
df = df.drop(['date', 'zipcode', 'lat', 'long'], axis = 1)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                21613 non-null  int64
 1   price             21613 non-null  float64
 2   bedrooms          21613 non-null  int64
 3   bathrooms         21613 non-null  float64
 4   sqft_living       21613 non-null  int64
 5   sqft_lot          21613 non-null  int64
 6   floors            21613 non-null  float64
 7   waterfront        21613 non-null  int64
 8   view              21613 non-null  int64
 9   condition         21613 non-null  int64
 10  grade             21613 non-null  int64
 11  sqft_above        21613 non-null  int64
 12  sqft_basement     21613 non-null  int64
 13  yr_built          21613 non-null  int64
 14  yr_renovated      21613 non-null  int64
 15  sqft_living15     21613 non-null  int64
 16  sqft_lot15        21613 non-null  int64
 17  price_per_sq_lot  21613 non-null  float64
dtypes: float64(4), int64(14)
memory usage: 3.0 MB

### 2. Задача. Создайте датафрейм с клиентами:

In [14]:
clients = pd.DataFrame({
'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295,
939, 3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242,
2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060,
1189000207, 6821600300, 7137950720, 9510920050, 6131600255,
5428000070, 1788800910, 8100400160, 3123049142, 6306800010,
5083000375, 7920100025, 1951600150, 809001400, 339600110,
1622049154, 1099600250, 8563000110, 2768100205, 3995700435,
8861700030, 3303980210, 7731100066, 8146100580, 825069097,
3889100029, 9524100196]})

In [15]:
clients

    client_id    house_id
0        1459  8965450190
1        4684  6823100225
2        3498  5104540330
3        3942  2131701075
4        4535  1522700060
5        2308  1189000207
6        2866  6821600300
7        2765  7137950720
8        1472  9510920050
9        4236  6131600255
10       2295  5428000070
11        939  1788800910
12       3840  8100400160
13        280  3123049142
14         20  6306800010
15       4332  5083000375
16       3475  7920100025
17       4213  1951600150
18       3113   809001400
19       4809   339600110
20       2134  1622049154
21       2242  1099600250
22       2068  8563000110
23       4929  2768100205
24       1384  3995700435
25       1589  8861700030
26       3317  3303980210
27       2260  7731100066
28       1727  8146100580
29       1764   825069097
30       1611  3889100029
31       1474  9524100196

#### 2.1 Присоедините к таблице clients данные по домам через метод join

In [16]:
clients.join(df)

,client_id,house_id,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,price_per_sq_lot
0,1459,8965450190,7129300520,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,1340,5650,39.274336
1,4684,6823100225,6414100192,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,1690,7639,74.288870
2,3498,5104540330,5631500400,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,2720,8062,18.000000
3,3942,2131701075,2487200875,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,1360,5000,120.800000
4,4535,1522700060,1954400510,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,1800,7503,63.118812
5,2308,1189000207,7237550310,1225000.0,4,4.50,5420,101930,1.0,0,0,3,11,3890,1530,2001,0,4760,101930,12.018052
6,2866,6821600300,1321400060,257500.0,3,2.25,1715,6819,2.0,0,0,3,7,1715,0,1995,0,2238,6819,37.762135
7,2765,7137950720,2008000270,291850.0,3,1.50,1060,9711,1.0,0,0,3,7,1060,0,1963,0,1650,9711,30.053548
8,1472,9510920050,2414600126,229500.0,3,1.00,1780,7470,1.0,0,0,3,7,1050,730,1960,0,1780,8113,30.722892
9,4236,6131600255,3793500160,323000.0,3,2.50,1890,6560,2.0,0,0,3,7,1890,0,2003,0,2390,7570,49.237805
10,2295,5428000070,1736800520,662500.0,3,2.50,3560,9796,1.0,0,0,3,8,1860,1700,1965,0,2210,8925,67.629645
11,939,1788800910,9212900260,468000.0,2,1.00,1160,6000,1.0,0,0,4,7,860,300,1942,0,1330,6000,78.000000
12,3840,8100400160,114101516,310000.0,3,1.00,1430,19901,1.5,0,0,4,7,1430,0,1927,0,1780,12697,15.577107
13,280,3123049142,6054650070,400000.0,3,1.75,1370,9680,1.0,0,0,4,7,1370,0,1977,0,1370,10208,41.322314
14,20,6306800010,1175000570,530000.0,5,2.00,1810,4850,1.5,0,0,3,7,1810,0,1900,0,1360,4850,109.278351
15,4332,5083000375,9297300055,650000.0,4,3.00,2950,5000,2.0,0,3,3,9,1980,970,1979,0,2140,4000,130.000000
16,3475,7920100025,1875500060,395000.0,3,2.00,1890,14040,2.0,0,0,3,7,1890,0,1994,0,1890,14018,28.133903
17,4213,1951600150,6865200140,485000.0,4,1.00,1600,4300,1.5,0,0,4,7,1600,0,1916,0,1610,4300,112.790698
18,3113,809001400,16000397,189000.0,2,1.00,1200,9850,1.0,0,0,4,7,1200,0,1921,0,1060,5095,19.187817
19,4809,339600110,7983200060,230000.0,3,1.00,1250,9774,1.0,0,0,4,7,1250,0,1969,0,1280,8850,23.531819
20,2134,1622049154,6300500875,385000.0,4,1.75,1620,4980,1.0,0,0,4,7,860,760,1947,0,1400,4980,77.309237
21,2242,1099600250,2524049179,2000000.0,3,2.75,3050,44867,1.0,0,4,3,9,2330,720,1968,0,4110,20336,44.576192
22,2068,8563000110,7137970340,285000.0,5,2.50,2270,6300,2.0,0,0,3,8,2270,0,1995,0,2240,7005,45.238095
23,4929,2768100205,8091400200,252700.0,2,1.50,1070,9643,1.0,0,0,3,7,1070,0,1985,0,1220,8386,26.205538
24,1384,3995700435,3814700200,329000.0,3,2.25,2450,6500,2.0,0,0,4,8,2450,0,1985,0,2200,6865,50.615385
25,1589,8861700030,1202000200,233000.0,3,2.00,1710,4697,1.5,0,0,5,6,1710,0,1941,0,1030,4705,49.606132
26,3317,3303980210,1794500383,937000.0,3,1.75,2450,2691,2.0,0,0,3,8,1750,700,1915,0,1760,3573,348.197696
27,2260,7731100066,3303700376,667000.0,3,1.00,1400,1581,1.5,0,0,5,8,1400,0,1909,0,1860,3861,421.884883
28,1727,8146100580,5101402488,438000.0,3,1.75,1520,6380,1.0,0,0,3,7,790,730,1948,0,1520,6235,68.652038
29,1764,825069097,1873100390,719000.0,4,2.50,2570,7173,2.0,0,0,3,8,2570,0,2005,0,2630,6026,100.237000
30,1611,3889100029,8562750320,580500.0,3,2.50,2320,3980,2.0,0,0,3,8,2320,0,2003,0,2580,3980,145.854271
31,1474,9524100196,2426039314,280000.0,2,1.50,1190,1265,3.0,0,0,3,7,1190,0,2005,0,1390,1756,221.343874

In [17]:
df_id = df.set_index('id')

In [19]:
clients_id = clients.set_index('house_id')

In [20]:
join_set = clients_id.join(df_id)

In [21]:
join_set.head()

,client_id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,price_per_sq_lot
339600110,4809,395000.0,3,2.50,1610,3755,2.0,0,0,3,7,1610,0,1987,0,1300,3823,105.193076
809001400,3113,925000.0,3,1.00,1630,3200,1.5,0,0,4,8,1630,0,1912,0,1710,3600,289.062500
825069097,1764,770000.0,3,2.50,2650,40705,2.0,0,0,3,9,2650,0,1994,0,2550,42625,18.916595
1099600250,2242,260000.0,3,1.75,1710,6400,1.0,0,0,4,7,1240,470,1976,0,1600,6400,40.625000
1189000207,2308,387000.0,2,2.50,1170,1394,2.0,0,0,3,8,1170,0,2001,0,1250,3136,277.618364

#### 2.2 Присоедините к таблице clients данные по домам через метод merge

In [26]:
merge_set = clients.merge(df, left_on = 'house_id', right_on = 'id')

In [27]:
merge_set

,client_id,house_id,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,price_per_sq_lot
0,1459,8965450190,8965450190,295000.0,3,2.50,1500,3060,2.0,0,0,3,7,1500,0,1994,0,2700,7734,96.405229
1,4684,6823100225,6823100225,700000.0,4,1.75,1870,6000,1.0,0,0,5,8,1670,200,1949,0,1710,6000,116.666667
2,3498,5104540330,5104540330,679000.0,4,2.50,3680,7236,2.0,0,0,3,10,3680,0,2006,0,3310,7180,93.836374
3,3942,2131701075,2131701075,420000.0,3,1.75,1720,5000,1.5,0,0,3,8,1720,0,1932,2009,1410,8300,84.000000
4,4535,1522700060,1522700060,518000.0,4,2.75,2520,14021,2.0,0,0,3,9,2520,0,1999,0,2330,14007,36.944583
5,2308,1189000207,1189000207,387000.0,2,2.50,1170,1394,2.0,0,0,3,8,1170,0,2001,0,1250,3136,277.618364
6,2866,6821600300,6821600300,886000.0,3,2.25,2380,6000,2.0,0,0,5,9,1650,730,1931,0,2000,6000,147.666667
7,2765,7137950720,7137950720,339100.0,4,2.50,2350,10655,2.0,0,0,3,8,2350,0,1992,0,2210,7028,31.825434
8,1472,9510920050,9510920050,725000.0,3,2.50,2980,16996,2.0,0,0,3,10,2980,0,1992,0,2980,15438,42.657096
9,4236,6131600255,6131600255,202500.0,3,2.00,1540,8316,1.0,0,0,5,6,1540,0,1954,0,1250,8316,24.350649
10,2295,5428000070,5428000070,770000.0,5,3.50,4750,8234,2.0,0,2,3,10,3350,1400,2013,0,2160,14496,93.514695
11,939,1788800910,1788800910,190000.0,3,1.00,1200,10458,1.0,0,0,4,6,1200,0,1961,0,1160,9000,18.167910
12,3840,8100400160,8100400160,700000.0,3,2.25,2330,11424,2.0,0,0,4,8,2330,0,1984,0,2050,11448,61.274510
13,280,3123049142,3123049142,452000.0,3,2.25,2600,14810,1.0,0,2,4,8,1490,1110,1956,0,2450,16715,30.519919
14,20,6306800010,6306800010,436472.0,4,2.50,2692,8392,2.0,0,0,3,9,2692,0,2014,0,2574,14446,52.010486
15,4332,5083000375,5083000375,170000.0,3,1.00,1310,9529,1.0,0,0,3,7,1310,0,1956,0,1330,9529,17.840277
16,4332,5083000375,5083000375,235000.0,3,1.00,1310,9529,1.0,0,0,3,7,1310,0,1956,0,1330,9529,24.661559
17,3475,7920100025,7920100025,450000.0,2,1.00,740,5100,1.0,0,0,4,7,740,0,1947,0,920,5100,88.235294
18,4213,1951600150,1951600150,180000.0,3,1.00,1610,8500,1.5,0,0,3,7,1610,0,1959,0,1070,8750,21.176471
19,3113,809001400,809001400,925000.0,3,1.00,1630,3200,1.5,0,0,4,8,1630,0,1912,0,1710,3600,289.062500
20,4809,339600110,339600110,395000.0,3,2.50,1610,3755,2.0,0,0,3,7,1610,0,1987,0,1300,3823,105.193076
21,2134,1622049154,1622049154,289900.0,3,1.75,1899,11325,2.0,0,0,3,7,1899,0,1943,2005,2000,10454,25.598234
22,2242,1099600250,1099600250,260000.0,3,1.75,1710,6400,1.0,0,0,4,7,1240,470,1976,0,1600,6400,40.625000
23,2068,8563000110,8563000110,427000.0,4,1.75,1460,9750,1.0,0,0,4,7,1460,0,1967,0,1820,9840,43.794872
24,4929,2768100205,2768100205,519000.0,4,2.50,1950,2617,1.5,0,0,4,7,1250,700,1910,0,1520,1438,198.318686
25,1384,3995700435,3995700435,265000.0,4,3.00,1940,8170,1.0,0,0,4,7,1940,0,1948,0,1310,8169,32.435741
26,1589,8861700030,8861700030,510000.0,3,1.50,2400,10275,1.0,0,0,4,8,1540,860,1964,0,2380,10125,49.635036
27,3317,3303980210,3303980210,1115000.0,4,3.75,4040,14212,2.0,0,0,3,11,4040,0,2002,0,3940,14212,78.454827
28,2260,7731100066,7731100066,545000.0,3,1.00,1510,5000,1.5,0,0,3,7,1510,0,1909,0,1680,4000,109.000000
29,1727,8146100580,8146100580,765000.0,3,1.00,1220,7585,1.0,0,0,4,7,1220,0,1954,0,1380,8918,100.856955
30,1764,825069097,825069097,770000.0,3,2.50,2650,40705,2.0,0,0,3,9,2650,0,1994,0,2550,42625,18.916595
31,1611,3889100029,3889100029,810000.0,3,2.50,2670,10481,2.0,0,0,3,9,2670,0,2003,0,2620,8895,77.282702
32,1474,9524100196,9524100196,239000.0,2,1.50,680,772,2.0,0,0,3,7,680,0,2005,0,690,1059,309.585492

###### Используем left_on = 'Название столбца' и right_on = 'Название столбца', у нас два разных вида данных

In [ ]:
DF2 = pd.DataFrame({'house_id' : [8965450190, 6823100225, 5104540330, 2131701075, 1522700060,
1189000207, 6821600300, 7137950720, 9510920050, 6131600255,
5428000070, 1788800910, 8100400160, 3123049142, 6306800010,
5083000375, 7920100025, 1951600150, 809001400, 339600110,
1622049154, 1099600250, 8563000110, 2768100205, 3995700435,
8861700030, 3303980210, 7731100066, 8146100580, 825069097,
3889100029, 9524100196]})

In [ ]:
DF1 = pd.DataFrame({
'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295,
939, 3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242,
2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474]})

In [ ]:
DF1.merge(DF2, left_on = 'client_id', right_on = 'house_id', how = 'outer')